<div>
	
	<button ui-sref="teacher.detail" type="button" class="btn btn-primary navbar-btn pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add Teacher</button>
</div>
<div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Telephone</th>
					<th>Classes</th>
					<th width="1%"></th>
					<th widtd="1%"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="teacher in teacherGridCtrl.teachers">
					<td>{{teacher.name}}</td>
					<td>{{teacher.emailAddress}}</td>
					<td>{{teacher.telephone}}</td>
					<td>{{teacher.count}}</td>
					<td>
						<button ui-sref="teacher.detail({id:{{teacher.teacherId}}})" type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span> </button>
					</td>
					<td><button type="button" class="btn btn-danger pull-right" ng-click="teacherGridCtrl.delteacher(teacher)"><span class="glyphicon glyphicon-remove"></span> </button></td>
				</tr>
			</tbody>
		</table>
	</div>